---
import Image from "astro/components/Image.astro";

const { name, title, description, image } = Astro.props;
---

<div class="grid grid-cols-1 items-center gap-8 md:grid-cols-2 lg:gap-16">
    <Image
        loading="lazy"
        width={1000}
        height={1000}
        src={image}
        alt={name}
        class="max-h-96 w-full rounded-md object-cover shadow-[8px_8px_0px_0px_#5CA1CB]"
    />
    <div class="flex flex-col items-start gap-1">
        <h2 class="text-2xl font-semibold text-balance md:max-w-lg lg:text-4xl">
            {name}, {title}
        </h2>
        <p class="text-muted-foreground md:max-w-lg">
            {description}
        </p>
    </div>
</div>
